# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/json_spirit_v2.03/json_test/Debug
/learning-jsoncpp/Debug
/learning-jsoncpp/x64/Debug
/Setup/Debug
/VyperDisplayManager/Debug
/VyperDisplayManager/x64/Debug
/VyperDisplayManager/VyperDisplayManager.vcxproj.user
/VyperDisplayManager/VyperDisplayManager.vcxproj.filters
/x64/Debug
/json_spirit_v2.03/json_spirit/Debug
/json_spirit_v2.03/json_demo/Debug
/Debug
/.vs
/windows_test/Debug
/VyperDisplayManager/process.log
/Output
